.hint {
    display: inline;
    position: relative;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.hint:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-hint);
    left: 20%;
    padding: 9px 16px;
    position: absolute;
    z-index: 1000000;
    width: 220px;
    font-size: 14px;
    font-weight: normal;
}

.hint:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
